<div class="puppy">
  {{!-- <img class="img-circle" src="{{image}}" alt="{{name}}"> --}}
  <h2>you've chosen to fight {{name}}</h2>
  
<img class="img-circle" src="{{image}}" alt="{{name}}">
  
  
<br>
<input type='text' placeholder="">
 <button type="submit">SEND</button>

</div>